
/* Your CSS Code here. */
button{
	background-color:black;
	color:white;
	border-radius: 5px;
	border:none;
	
}
button:hover{
	border:none;
	border-radius:30px;
	background-color:yellow;
	color:black;
}